<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>



<% if @author.nil? %> 
  <h2>Book List</h2> 
<% else %> 
  <h2><%= @author.name %>'s Book List</h2> 
<% end %>


<% if @books.length > 0 %>
  <ul>
    <% @books.each do |book| %> 
      <li>
        <%= link_to book.title, book_path(book) %> 
        By: <%= book.author.name %>
        <%= link_to "Edit Book", edit_book_path(book) %>
        <%= link_to "Delete Book", book_path(book), method: :delete, data:{confirm: "Are you sure?"} %>
      </i>
    <% end %>

    <%# save images at App > assets > images %>
    <%= image_tag "dog.jpg", alt: 'The happest shiba' %>
  </ul>
<% else %> 
  <h3>No books in the system!</h3>
<% end %>

<%= link_to "Add Book", new_book_path %>
