<!DOCTYPE html>
<html>
  <head>
    <title>AdaBooks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <section class="title"><h1>Ada Books</h1></section>
      <nav> 
        <ul>
        <li><a href="/">Home</a></li>
          <li><a href="/books">Books list</a></li>
          <li>New Book</i>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>All rights reserved</p>
    </footer>
    
  </body>
</html>
