<!DOCTYPE html>
<html>
  <head>
    <title>AdaBooks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Welcome to Ada Books</h1>
      <nav> 
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="<%= books_path %>">Book list</a></li>
          <li><a href="<%= new_book_path %>">Add a book</a></li>
          <li> <%= link_to "Create a book", new_book_path %></li>  <%# another way%>
          
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>All rights reserved</p>
    </footer>
    
  </body>
</html>
